/* --------------------- INs ------------------- */

@keyframes __EmberStaggerSwagger__SlideAndFadeInFromLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes __EmberStaggerSwagger__SlideAndFadeInFromRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes __EmberStaggerSwagger__SlideAndFadeInFromTop {
  0% {
    opacity: 0;
    transform: translate3d(0%, -100%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes __EmberStaggerSwagger__SlideAndFadeInFromBottom {
  0% {
    opacity: 0;
    transform: translate3d(0%, 100%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}



/* --------------------- OUTs ------------------- */

@keyframes __EmberStaggerSwagger__SlideAndFadeOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0%, 0%);
  }
}
@keyframes __EmberStaggerSwagger__SlideAndFadeOutLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0%, 0%);
  }
}
@keyframes __EmberStaggerSwagger__SlideAndFadeOutDown {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0%, 100%, 0%);
  }
}
@keyframes __EmberStaggerSwagger__SlideAndFadeOutUp {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0%, -100%, 0%);
  }
}
