/**
 * ---------------------------------------------------------------
 * INs
 * ---------------------------------------------------------------
 */

/**
 * SlideAndFade
 */
@keyframes __EmberStaggerSwagger__SlideAndFadeInFromLeft {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translate3d(-100%, 0%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes __EmberStaggerSwagger__SlideAndFadeInFromRight {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translate3d(100%, 0%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes __EmberStaggerSwagger__SlideAndFadeInFromTop {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translate3d(0%, -100%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes __EmberStaggerSwagger__SlideAndFadeInFromBottom {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translate3d(0%, 100%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/**
 * Slide
 */
 @keyframes __EmberStaggerSwagger__SlideInFromLeft {
   0% {
     opacity: 1;
     visibility: visible;
     transform: translate3d(-100%, 0%, 0%);
   }
   100% {
     transform: translate3d(0, 0, 0);
   }
 }

 @keyframes __EmberStaggerSwagger__SlideInFromRight {
   0% {
     opacity: 1;
     visibility: visible;
     transform: translate3d(100%, 0%, 0%);
   }
   100% {
     transform: translate3d(0, 0, 0);
   }
 }

 @keyframes __EmberStaggerSwagger__SlideInFromTop {
   0% {
     opacity: 1;
     visibility: visible;
     transform: translate3d(0%, -100%, 0%);
   }
   100% {
     transform: translate3d(0, 0, 0);
   }
 }

 @keyframes __EmberStaggerSwagger__SlideInFromBottom {
   0% {
     opacity: 1;
     visibility: visible;
     transform: translate3d(0%, 100%, 0%);
   }
   100% {
     transform: translate3d(0, 0, 0);
   }
 }


 /**
  * Fade
  */
  @keyframes __EmberStaggerSwagger__FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /**
   * Scale
   */
  @keyframes __EmberStaggerSwagger__ScaleIn {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }






/**
 * ---------------------------------------------------------------
 * OUTs
 * ---------------------------------------------------------------
 */

/**
 * SlideAndFade
 */
@keyframes __EmberStaggerSwagger__SlideAndFadeOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0%, 0%);
  }
}
@keyframes __EmberStaggerSwagger__SlideAndFadeOutLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0%, 0%);
  }
}
@keyframes __EmberStaggerSwagger__SlideAndFadeOutDown {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0%, 100%, 0%);
  }
}
@keyframes __EmberStaggerSwagger__SlideAndFadeOutUp {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0%, -100%, 0%);
  }
}

/**
 * Slide
 */
 @keyframes __EmberStaggerSwagger__SlideOutRight {
   0% {
     transform: translate3d(0, 0, 0);
   }
   100% {
     transform: translate3d(100%, 0%, 0%);
   }
 }
 @keyframes __EmberStaggerSwagger__SlideOutLeft {
   0% {
     transform: translate3d(0, 0, 0);
   }
   100% {
     transform: translate3d(-100%, 0%, 0%);
   }
 }
 @keyframes __EmberStaggerSwagger__SlideOutDown {
   0% {
   }
   100% {
     transform: translate3d(0%, 100%, 0%);
   }
 }
 @keyframes __EmberStaggerSwagger__SlideOutUp {
   0% {
     transform: translate3d(0, 0, 0);
   }
   100% {
     transform: translate3d(0%, -100%, 0%);
   }
 }

 /**
  * Fade
  */
  @keyframes __EmberStaggerSwagger__FadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /**
   * Scale
   */
  @keyframes __EmberStaggerSwagger__ScaleOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
