<section class="space-craft-card__img o-grid-cell u-width-15 u-fill-height u-relative">
  <span class="u-absolute u-transform-center">
    {{itemNumber}}
  </span>
</section>

<section class="space-craft-card__content o-grid-cell u-fill-width u-fill-height u-relative g-bg-nearWhite">
  <div class="u-fill-width u-fill-height u-pl3 u-pr3 u-pt1 u-pb1">
    {{item.title}}
  </div>
</section>
