<div class="u-full-stretch u-full-bleed u-relative u-overflow-hide u-overflow-scroll-y">

  <header class="u-relative u-fill-width u-height-20">
    <h1 class="u-absolute u-transform-center u-fill-width g-gray--300 u-align-center">
      Ember Stagger Swagger
    </h1>
  </header>

  <main class="u-relative u-fill-width u-fill-height u-mt4">

    <section class="u-width-85 u-fill-height u-relative u-flow-middle">

      <h2 class="u-align-center g-gray--300 u-align-center">
        Select a Stagger Direction
      </h2>

      <nav class="u-fill-width u-height-spacing-4">
        <ul class="o-flex-grid u-fill-width u-fill-height u-relative">

          <li class="o-grid-cell g-bg-yellow--300">
            {{#link-to 'stagger-list'}}Stagger List{{/link-to}}
          </li>

        </ul>
      </nav>

    </section>


  </main>
  {{outlet}}

</div>
